html,
body {
    height: 100%;
}

a {
    text-decoration: none;
}

.card {
    height: 50px;
    width: auto;
    margin: 10px;
}

.add-todotask {
    position: absolute;
    bottom: 10px;
    left: 20px;
}

.edit-todotask {
    position: absolute;
    bottom: 50px;
    left: 20px;
}


.btn-container a:first-child,
.btn-container a:nth-child(2) {
    position: relative;
}

.btn-container a:first-child:after,
.btn-container a:nth-child(2):after {
    content:"";
    width: 1px;
    height: 12px;
    display: inline-block;
    background-color: rgba(196, 196, 196, 0.8);
    position: absolute;
    right: -3px;
    top: 6px;
}